.env
.venv/
.DS_Store
**/.DS_Store
__pycache__/
.pytest_cache/
*.py[cod]

catalog-agent/

data/raw/*
data/processed/*
data/reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/reports/.gitkeep
